@import url(m_style.css);
.container,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container2 header {
  width: 100%;
  height: 4.74rem;
  background: none;
  background: url(../img/beijing.png) no-repeat;
  background-size: 7.49rem auto ;
  -webkit-box-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
}
.container2 header img {
  width: 1.62rem;
  height: auto;
  background: none;
  margin-top: 0.33rem;
}
.container2 header .a11 {
  position: absolute;
  top: -0.2rem;
  left: 6.15rem;
}
.container2 header .a11 img {
  width: 0.26rem;
  height: auto;
  background: none;
}
.container2 header .pp {
  width: 2.99rem;
  height: auto;
  background: none;
  color: white;
  margin-top: -0.23rem;
  text-align: center;
  display: block;
  position: relative;
}
.container2 header .pp img {
  width: 0.3rem;
  height: auto;
  background: none;
  margin-top: -0.2rem;
}
.container2 header .p {
  height: 0.5rem;
  display: inline-block;
}
.container2 header .p img {
  width: 2.06rem;
  height: auto;
  background: none;
  margin-top: -0.13rem;
}
.container2 header .a1 img {
  width: 0.36rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0rem;
  right: 1.3rem;
}
.container2 header .a2 img {
  width: 0.37rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0rem;
  right: 0.3rem;
}
.container2 header .a3 {
  position: absolute;
  top: 0.7rem;
  right: 0.01rem;
}
.container2 header .a3 span {
  position: absolute;
  top: 0.4rem;
  right: 0.1rem;
  font-size: 0.24rem;
  letter-spacing: 0.15rem;
  color: white;
}
.container2 header .a3 img {
  width: 1.77rem;
  height: auto;
  background: none;
}
.container2 header .buttom {
  width: 7.5rem;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container2 header .buttom .left {
  -webkit-box-flex: 1;
  text-align: center;
  margin-top: 0.59rem;
}
.container2 header .buttom .left img {
  width: 0.62rem;
  height: auto;
  background: none;
}
.container2 header .buttom .left p {
  color: #999999;
}
.container2 section {
  -webkit-box-flex: 1;
  overflow: hidden;
  background: #f3f3f3;
  overflow: auto;
}
.container2 section .top1 {
  width: 100%;
  height: 2.55rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container2 section .top1 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.container2 section .top1 p img {
  margin-left: 0.34rem;
  margin-top: 0rem;
  width: 0.34rem;
  height: auto;
  background: none;
}
.container2 section .top1 p a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
  position: relative;
}
.container2 section .top1 p .a11 {
  position: absolute;
  top: 0.11rem;
  left: 2.0rem;
}
.container2 section .top1 p .a11 img {
  width: 0.26rem;
  height: auto;
  background: none;
}
.container2 section .top1 p .a22 {
  position: absolute;
  top: 0.18rem;
  right: 0.15rem;
  width: 1.32rem;
  height: auto;
  background: none;
}
.container2 section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container2 section .top1 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container2 section .top2 {
  width: 100%;
  height: 1.585rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container2 section .top2 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.container2 section .top2 p a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.17rem;
  display: inline-block;
}
.container2 section .top2 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container2 section .top2 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container2 section .top2 p img {
  margin-left: 0.34rem;
  width: 0.34rem;
  height: auto;
  background: none;
}
.container2 section .top3 {
  width: 100%;
  height: 2.55rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container2 section .top3 a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.17rem;
  display: inline-block;
}
.container2 section .top3 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.container2 section .top3 p img {
  margin-left: 0.34rem;
  width: 0.34rem;
  height: auto;
  background: none;
}
.container2 section .top3 span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container2 section .top3 span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container2 footer {
  width: 100%;
  height: 0.97rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container2 footer .left {
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  text-align: center;
}
.container2 footer .left img {
  width: 0.42rem;
  height: auto;
  background: none;
  margin-top: 0.1rem;
}
.container2 footer .left p {
  color: #999999;
  margin-top: 0.1rem;
}
.container3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container3 header {
  width: 100%;
  height: 0.74rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container3 header span {
  margin-left: 0.40rem;
  line-height: 0.74rem;
}
.container3 header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container3 header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container3 section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
}
.container3 section .top1 {
  width: 100%;
  height: 3.45rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container3 section .top1 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
}
.container3 section .top1 p a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
}
.container3 section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container3 section .top1 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container3 footer {
  width: 100%;
  height: 0.91rem;
  background: bule;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container3 footer .one {
  -webkit-box-pack: center;
  border-radius: 0.6rem;
  width: 6.69rem;
  height: none;
  background: #ff0000;
  text-align: center;
  margin-left: 0.4rem;
}
.container3 footer .one a {
  color: white;
  font-size: 0.34rem;
  line-height: 0.91rem;
}
.container4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container4 header {
  width: 100%;
  height: 0.74rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container4 header span {
  margin-left: 0.40rem;
  line-height: 0.74rem;
}
.container4 header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container4 header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container4 section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
}
.container4 section .top1 {
  width: 100%;
  height: 3.45rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container4 section .top1 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
}
.container4 section .top1 p a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
}
.container4 section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container4 section .top1 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container4 footer {
  width: 100%;
  height: 0.91rem;
  background: bule;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container4 footer .one {
  -webkit-box-pack: center;
  border-radius: 0.6rem;
  width: 6.69rem;
  height: none;
  background: #ff0000;
  text-align: center;
  margin-left: 0.4rem;
}
.container4 footer .one a {
  color: white;
  font-size: 0.34rem;
  line-height: 0.91rem;
}
.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.zhezhao .commit {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.2rem;
}
.zhezhao .commit p {
  width: 4.5rem;
  height: 1.4rem;
  background: #ffffff;
  font-size: 0.34rem;
  border-bottom: 1px solid gainsboro;
  text-align: center;
  line-height: 1.4rem;
}
.zhezhao .commit .ppp {
  border: none;
}
.zhezhao .commit .ppp a {
  width: 2.5rem;
  height: 0.7rem;
  background: #ffffff;
  font-size: 0.34rem;
  text-align: center;
}
.container5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container5 header {
  width: 100%;
  height: 0.9rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container5 header span {
  margin-left: 0.40rem;
  line-height: 0.74rem;
}
.container5 header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container5 header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container5 section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
  font-size: 0.34rem;
}
.container5 section .top {
  width: 100%;
  height: 0.75rem;
  background: none;
  margin-top: 0.74rem;
}
.container5 section .top p {
  width: 6.7rem;
  color: #999999;
  margin-left: 0.2rem;
  line-height: 0.42rem;
  font-size: 0.34rem;
}
.container5 section .top1 {
  width: 100%;
  height: 3.45rem;
  background: none;
  margin-top: 1.17rem;
}
.container5 section .top1 p {
  width: 100%;
  height: 0.82rem;
  background: none;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
}
.container5 section .top1 p a {
  font-size: 0.34rem;
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
}
.container5 section .top1 p input {
  outline: none;
  border: none;
  background: #f3f3f3;
  margin-left: 0.3rem;
}
.container5 section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container5 section .top1 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container5 footer {
  width: 100%;
  height: 0.91rem;
  background: bule;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container5 footer .one {
  -webkit-box-pack: center;
  border-radius: 0.6rem;
  width: 6.69rem;
  height: none;
  background: #ff0000;
  text-align: center;
  margin-left: 0.4rem;
}
.container5 footer .one a {
  color: white;
  font-size: 0.34rem;
  line-height: 0.91rem;
}
.container6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container6 header {
  width: 100%;
  height: 0.74rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container6 header span {
  margin-left: 0.40rem;
  line-height: 0.74rem;
}
.container6 header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container6 header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container6 section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
}
.container6 section .top1 {
  width: 100%;
  height: 3.45rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container6 section .top1 p {
  width: 100%;
  height: 0.82rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
}
.container6 section .top1 p a {
  font-size: 0.29rem;
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
}
.container6 section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.15rem;
}
.container6 section .top1 p span img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.container6 footer {
  width: 100%;
  height: 0.91rem;
  background: bule;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container6 footer .one {
  -webkit-box-pack: center;
  border-radius: 0.6rem;
  width: 6.69rem;
  height: none;
  background: #ff0000;
  text-align: center;
  margin-left: 0.4rem;
}
.container6 footer .one a {
  color: white;
  font-size: 0.34rem;
  line-height: 0.91rem;
}
.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.zhezhao .commit {
  width: 4.5rem;
  height: 3.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.2rem;
}
.zhezhao .commit p {
  width: 4.5rem;
  height: 0.8rem;
  background: #ffffff;
  font-size: 0.27rem;
  text-align: center;
  line-height: 0.34rem;
  margin-top: 0.32rem;
}
.zhezhao .commit .pp {
  width: 4rem;
  margin-left: 0.2rem;
}
.zhezhao .commit .pp input {
  outline: none;
  border: none;
  text-align: center;
}
.zhezhao .commit .ppp {
  height: rem;
}
.zhezhao .commit .ppp a {
  width: 2.5rem;
  height: 0.7rem;
  background: #ffffff;
  font-size: 0.34rem;
  border: none;
  text-align: center;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.9rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header span {
  margin-left: 0.40rem;
  line-height: 0.9rem;
}
.container header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
}
.container section .top1 {
  width: 100%;
  height: 3.45rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container section .top1 p {
  width: 100%;
  height: 1.22rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
  line-height: 1.22rem;
  font-size: 0.34rem;
}
.container section .top1 p input {
  outline: none;
  border: none;
}
.container section .top1 p a {
  margin-left: 0.2rem;
  margin-top: 0.23rem;
  display: inline-block;
}
.container section .top1 p .span {
  position: absolute;
  top: 0.12rem;
  right: 0.15rem;
}
.container section .top1 p .span img {
  width: 1.16rem;
  height: auto;
  background: none;
}
.container section .top1 p span {
  position: absolute;
  top: 0.22rem;
  right: 0.25rem;
  color: #999999;
}
.container section .top1 p span img {
  top: 0.12rem;
  width: 0.22rem;
  height: auto;
  background: none;
}
.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.zhezhao .commit {
  width: 4.5rem;
  height: 3.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.2rem;
}
.zhezhao .commit p {
  width: 4rem;
  height: 0.8rem;
  background: #ffffff;
  font-size: 0.34rem;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  line-height: 0.34rem;
  margin-top: 0.32rem;
  margin-left: 0.2rem;
}
.zhezhao .commit .pp {
  width: 4rem;
  margin-left: 0.2rem;
}
.zhezhao .commit .pp a {
  font-size: 0.34rem;
  text-align: center;
}
.zhezhao .commit .ppp a {
  font-size: 0.34rem;
  text-align: center;
}
.wheader {
  width: 100%;
  height: 4.6rem;
  background: #fa5363;
}
.wheader .header1 {
  width: 100%;
  height: 0.96rem;
  background: #fa5363;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 0.96rem;
}
.wheader .header1 .left {
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
}
.wheader .header1 .left a {
  font-size: 0.32rem;
  color: #fff;
}
.wheader .header1 .left a img {
  width: auto;
  height: 0.38rem;
  background: none;
}
.wheader .header1 .left a img:last-child {
  margin: 0 0.14rem;
}
.wheader .header1 .right {
  margin-right: 0.4rem;
}
.wheader .header1 .right a {
  font-size: 0.32rem;
  color: #fff;
}
.wheader .header2 {
  width: 100%;
  height: 2rem;
  background: #fa5363;
  padding-left: 1.15rem;
  padding-top: 0.3rem;
  color: #fff;
}
.wheader .header2 .top {
  font-size: 0.29rem;
}
.wheader .header2 .top span {
  margin-left: 0.2rem;
  font-size: 0.25rem;
}
.wheader .header2 .bottom {
  font-size: 0.59rem;
  margin-top: 0.37rem;
}
.wheader .header2 .bottom a {
  font-size: 0.26rem;
  color: #fff;
  text-decoration: underline;
}
.wheader .header2 .bottom a:first-child {
  margin-left: 0.3rem;
  margin-right: 0.2rem;
}
.wheader .header3 {
  width: 100%;
  height: 1.3rem;
  background: none;
  border-top: 1px solid #fb7c88;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 0.25rem;
  text-align: center;
  position: relative;
}
.wheader .header3 .jx {
  position: absolute;
  right: 1.5rem;
  top: -0.15rem;
  width: 1rem;
}
.wheader .header3 .sanjiao {
  width: 0.27rem;
  height: auto;
  background: none;
  position: absolute;
  right: 1.8rem;
  bottom: 0.2rem;
}
.wheader .header3 .left {
  -webkit-box-flex: 1;
}
.wheader .header3 .left .l1 a {
  font-size: 0.3rem;
  color: #fff;
}
.wheader .header3 .left .l2 a {
  font-size: 0.3rem;
  color: #fff;
}
.wsection {
  -webkit-box-flex: 1;
  overflow: auto;
}
.wsection .one {
  width: 100%;
  height: 1.28rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #e5e5e5 ;
}
.wsection .one .left {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
}
.wsection .one .left .l {
  margin-right: 0.3rem;
}
.wsection .one .left .l a img {
  width: 1.16rem;
  height: auto;
  background: none;
}
.wsection .one .left .r p {
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
}
.wsection .one .left .r p a {
  font-size: 0.28rem;
}
.wsection .one .left .r span {
  font-size: 0.19rem;
  color: #a1a1a1;
  display: inline-block;
  float: right;
}
.wsection .one .right {
  margin-right: 0.4rem;
  margin-top: 0.4rem;
}
.wsection .one .right a img {
  width: 1.02rem;
  height: auto;
  background: none;
}
.container2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container2 header {
  width: 100%;
  height: 0.9rem;
  background: #f94153;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container2 header span {
  margin-left: 0.40rem;
  line-height: 0.9rem;
}
.container2 header span img {
  width: 0.35rem;
  height: auto;
  background: #f94153;
}
.container2 header a {
  line-height: 0.74rem;
  -webkit-box-flex: 1;
  color: white;
  margin-left: 2.46rem;
  font-size: 0.34rem;
}
.container2 section {
  background: #eeeeee;
}
.container2 section .top1 {
  width: 100%;
  height: 4.75rem;
  background: #ffffff;
  margin-top: 0.17rem;
}
.container2 section .top1 p {
  width: 100%;
  height: 1.22rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-indent: 0.5em;
  line-height: 1.22rem;
  font-size: 0.34rem;
}
.container2 section .top1 p a {
  width: 2.75rem;
  height: auto;
  background: none;
  margin-left: 0.3rem;
  margin-top: 0.1rem;
}
.container2 section .top1 p .ding {
  position: absolute;
  left: 1.2rem;
  top: 0.1rem;
  width: 0.27rem;
  height: auto;
  background: none;
}
.container2 section .top1 p img {
  width: 1.05rem;
  height: auto;
  background: none;
  margin-top: 0.2rem;
  position: relative;
}
.container2 section .top1 p input {
  outline: none;
  border: none;
}
.container2 section .top1 p span {
  position: absolute;
  right: 0.25rem;
  color: #999999;
}
.container2 section .top1 p span img {
  width: 1rem;
  height: auto;
  background: none;
}
